# IDE / OS Files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store
Thumbs.db

# Environments & Private configs
.env
.env.local
.env.*.local
dist/
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
